{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harikrishnan | Django Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<!-- NAVBAR -->
<header class="navbar">
    <div class="container nav-wrapper">

        <div class="logo">
            <div class="logo-box"></div>
            <span>Harikrishnan</span>
        </div>

        <nav class="nav-links">
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>

        <!-- Mobile Toggle -->
        <div class="menu-toggle" onclick="toggleMenu()">
            ☰
        </div>

    </div>
</header>

{% block content %}{% endblock %}

<footer>
    © 2026 Harikrishnan C K. All rights reserved.
</footer>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>